Categorical / Discrete Data preprocessiong

In [41]:
import pandas as pd
data = pd.read_csv("/Users/hemu/Machine learning/ML Lab/Week_4/Data.csv")
# data.replace(np.NaN,0,inplace=True)

In [42]:
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

Extract Independent and Dependent variables

In [43]:
# independent variable -> x
x = data.iloc[:,:-1]
# dependent variables -> y
y = data.iloc[:,-1]
x

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [44]:
import numpy as np
print(np.shape(x))
print(x.iloc[:,0])

(10, 3)
0     France
1      Spain
2    Germany
3      Spain
4    Germany
5     France
6      Spain
7     France
8    Germany
9     France
Name: Country, dtype: object

In [45]:
x.iloc[:,0]

0     France
1      Spain
2    Germany
3      Spain
4    Germany
5     France
6      Spain
7     France
8    Germany
9     France
Name: Country, dtype: object

In [46]:
for i in range(len(x.iloc[1,:])):
  temp = x.iloc[:,i]
  if(temp.isnull().sum() > 0):
    x.iloc[:,i] = x.iloc[:,i].fillna(x.iloc[:,i].mean())
x

   Country        Age        Salary
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000

Converting the categorical columns into numberical 
And depending on the values it the values are only 1 and 0 not need to perform OneHotEncoder else we need to perform OneHotEncoder for Dummy variables [ Dummy variables are those variables which have values 0 or 1 ] With dummy encoding, we will have a number of columns equal to the number of categories.

In our dataset, we have 3 categories so it will produce three columns having 0 and 1 values. For Dummy Encoding, we will use OneHotEncoder class of preprocessing library.

In [47]:
# from sklearn.compose import ColumnTransformer
# ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder='passthrough')
# le = LabelEncoder()
# # ohe = OneHotEncoder(categories=[0])
# ss = StandardScaler()
# X=np.array(ct.fit_transform(x))

In [48]:
# from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
# x.iloc[:,0] = le.fit_transform(x.iloc[:,0])

In [49]:
# x.iloc[:,0] = le.fit_transform(x.iloc[:,0])

In [50]:
# y = le.fit_transform(y)
# y

In [51]:
# X

In [52]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [53]:
ct = ColumnTransformer(transformers=[("encoder",OneHotEncoder(), [0])], remainder="passthrough")

Reference : https://www.javatpoint.com/data-preprocessing-machine-learning

In [54]:
x = np.array(ct.fit_transform(x))

REFERENCE : 

https://machinelearningmastery.com/columntransformer-for-numerical-and-categorical-data/

In [55]:
x

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.40000000e+01,
        7.20000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        4.80000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.00000000e+01,
        5.40000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.80000000e+01,
        6.10000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.00000000e+01,
        6.37777778e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.87777778e+01,
        5.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        7.90000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 5.00000000e+01,
        8.30000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.70000000e+01,
        6.70000000e+04]])

In [56]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [57]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=1)

In [58]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
x_train[:,3:] = ss.fit_transform(x_train[:,3:])
x_test[:,3:] = ss.fit_transform(x_test[:,3:])

In [59]:
x_train

array([[ 0.        ,  0.        ,  1.        , -0.19159184, -1.07812594],
       [ 0.        ,  1.        ,  0.        , -0.01411729, -0.07013168],
       [ 1.        ,  0.        ,  0.        ,  0.56670851,  0.63356243],
       [ 0.        ,  0.        ,  1.        , -0.30453019, -0.30786617],
       [ 0.        ,  0.        ,  1.        , -1.90180114, -1.42046362],
       [ 1.        ,  0.        ,  0.        ,  1.14753431,  1.23265336],
       [ 0.        ,  1.        ,  0.        ,  1.43794721,  1.57499104],
       [ 1.        ,  0.        ,  0.        , -0.74014954, -0.56461943]])

In [60]:
x_test

array([[ 0.,  1.,  0., -1., -1.],
       [ 1.,  0.,  0.,  1.,  1.]])