Categorical / Discrete Data preprocessiong

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
data = pd.read_csv("/content/drive/MyDrive/ML Lab/Week_4/Data.csv")
# data.replace(np.NaN,0,inplace=True)

In [ ]:
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

Extract Independent and Dependent variables

In [ ]:
# independent variable -> x
x = data.iloc[:,:-1]
# dependent variables -> y
y = data.iloc[:,-1]
x

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [ ]:
import numpy as np
print(np.shape(x))
print(x.iloc[:,0])

(10, 3)
0     France
1      Spain
2    Germany
3      Spain
4    Germany
5     France
6      Spain
7     France
8    Germany
9     France
Name: Country, dtype: object

In [ ]:
x.iloc[:,0]

0     France
1      Spain
2    Germany
3      Spain
4    Germany
5     France
6      Spain
7     France
8    Germany
9     France
Name: Country, dtype: object

In [ ]:
# for i in range(len(x.iloc[1,:])):
#   temp = x.iloc[:,i]
#   if(temp.isnull().sum() > 0):
#     x.iloc[:,i] = x.iloc[:,i].fillna(x.iloc[:,i].mean())
x

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

Converting the categorical columns into numberical 
And depending on the values it the values are only 1 and 0 not need to perform OneHotEncoder else we need to perform OneHotEncoder for Dummy variables [ Dummy variables are those variables which have values 0 or 1 ] With dummy encoding, we will have a number of columns equal to the number of categories.

In our dataset, we have 3 categories so it will produce three columns having 0 and 1 values. For Dummy Encoding, we will use OneHotEncoder class of preprocessing library.

In [ ]:
# from sklearn.compose import ColumnTransformer
# ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder='passthrough')
# le = LabelEncoder()
# # ohe = OneHotEncoder(categories=[0])
# ss = StandardScaler()
# X=np.array(ct.fit_transform(x))

In [ ]:
# from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
# x.iloc[:,0] = le.fit_transform(x.iloc[:,0])

In [ ]:
# x.iloc[:,0] = le.fit_transform(x.iloc[:,0])

In [ ]:
# y = le.fit_transform(y)
# y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [ ]:
# X

array([[1.0e+00, 0.0e+00, 0.0e+00, 4.4e+01, 7.2e+04],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.7e+01, 4.8e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.0e+01, 5.4e+04],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.8e+01, 6.1e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 4.0e+01, 0.0e+00],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.5e+01, 5.8e+04],
       [0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 5.2e+04],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.8e+01, 7.9e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 5.0e+01, 8.3e+04],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.7e+01, 6.7e+04]])

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [ ]:
le = LabelEncoder()
ohe = OneHotEncoder()
sc = StandardScaler()

Reference : https://www.javatpoint.com/data-preprocessing-machine-learning

In [1]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[("encoder",OneHotEncoder(), [0])], remainder="passthrough")

REFERENCE : 

https://machinelearningmastery.com/columntransformer-for-numerical-and-categorical-data/